<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search as you type</title>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-app="SortTest">
  <div ng-controller="testController">
    
    <label for="sayt">Search</label>
    <input type="text" ng-model="search_query">

    <ul>
      <li ng-repeat="cereal in cereals | filter : search_query">
        <h4>{{ cereal.name }}</h4>
        <p>{{ cereal.description }}</p>
      </li>
    </ul>

  </div>
</body>
</html>